fastapi
uvicorn
python-dotenv

# AI
transformers
torch==2.2.2 --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
faiss-cpu

# File handling
pypdf
python-docx
python-multipart

# Config
pydantic-settings
