#requirements.txt
fastapi
uvicorn
python-dotenv
numpy<2

# AI
transformers

sentence-transformers
faiss-cpu

# File handling
pypdf
python-docx
python-multipart

# Config
pydantic-settings
jinja2
pytest
httpx